body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(184, 198, 243);
  }
  
.cabecera {
    background-color: rgb(39, 87, 141);
  }

.icono{
    width: 100px;
    height: auto;
    max-width: 100%;
    height: auto;
    border-radius: 100%;
}
footer{
  background-color:  rgb(39, 87, 141);
}

h1{
    background-color:  rgb(39, 87, 141);
    display: block;
}
.imagenbd{
    width: 100px;
    height: auto;
    max-width: 100%;
    height: auto;
}
.image-container {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
}

.image-container img {
    width: 300px; 
    height: auto; 
    margin-bottom: 10px; 
}

.image-container p {
    font-size: 20px; 
}